@font-face {
  font-family: 'DJB Get Digital';
  src: url('../assets/fonts/djb_get_digital.eot'); /* IE9 */
  src: url('../assets/fonts/djb_get_digital.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/djb_get_digital.woff') format('woff'), /* chrome、firefox */
  url('../assets/fonts/djb_get_digital.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url('../assets/fonts/djb_get_digital.svg#djb_get_digital') format('svg'); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
