html {
  background-color: $c-basic-deep;
  background-image: url('../assets/img/deep_space_bg.svg');
  background-attachment: fixed;
}
body {
  margin: 0;
  // animation: infinite 8s twinkle;
}

@keyframes twinkle {
  0% {
    background: rgba(3,2,27,.56);
  }
  50% {
    background: rgba(3,2,27,0);
  }
  100% {
    background: rgba(3,2,27,.56);
  }
}

.site-header {
  position: relative;
  z-index: $z-fixed;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  a {
    text-decoration: none;
  }
  h1 {
    margin: 10px 0 5px;
    font-weight: 300;
    a {
      color: $c-white;
    }
  }
  .avatar {
    $size: 100px;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid $c-white;
  }
  .description {
    margin: 5px 0;
    color: $c-gray;
  }
  nav {
    ul {
      margin-top: 15px;
      padding-left: 0;
      li {
        margin: 0 20px;
        display: inline-block;
        letter-spacing: 2px;
        text-indent: -2px;
        text-transform: uppercase;
        a {
          display: inline-block;
          color: $c-white;
          text-decoration: none;
          white-space: nowrap;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  @include responsive('pad') {
    padding-top: 15px;
    .avatar {
      $size: 80px;
      width: $size;
      height: $size;
      border-width: 2px;
    }
    h1 {
      margin: 0;
      font-size: 20px;
    }
    .description {
      margin: 0;
    }
    nav ul {
      margin-top: 5px;
    }
  }
  @include responsive('phone') {
    padding: 15px 10px 0;
    text-align: left;
    font-size: 14px;
    .avatar {
      $size: 40px;
      float: left;
      margin-right: 15px;
      width: $size;
      height: $size;
      border-width: 2px;
    }
    h1 {
      margin: 0;
      font-size: 18px;
    }
    .description {
      margin: 0;
    }
    nav {
      text-align: center;
      ul {
        margin-top: 5px;
        li {
          margin: 0 10px;
        }
      }
    }
  }
}

.site-content {
  $h-gap: 60px;
  margin: 0 auto;
  padding: 20px $h-gap;
  max-width: $s-max-width + ($h-gap * 2);
  overflow: hidden;
  @include responsive('normal') {
    padding: 20px 30px;
  }
  @include responsive('pad') {
    padding: 10px 0;
  }
  @include responsive('phone') {
    padding: 10px 0 0;
  }
}

.site-footer {
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  color: $c-gray;
  a {
    color: $c-white;
  }
  @include responsive('pad') {
    margin: 10px 0;
  }
  @include responsive('phone') {
    margin: 10px 0;
    line-height: 1.2;
  }
}

.header-cover {
  position: absolute;
  z-index: $z-bottom;
  top: 0;
  right: 0;
  left: 0;
  height: 390px;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, $c-basic-deep, rgba(3,2,27,.6));
  }
  &.index-cover {
    height: 310px;
  }
  @include responsive('pad') {
    height: 260px;
    &.index-cover {
      height: 220px;
    }
  }
  @include responsive('phone') {
    height: 160px;
    &.index-cover {
      height: 120px;
    }
  }
}
