.post-list {
  padding: 20px 0 0;
  .post-item {
    position: relative;
    margin-bottom: 30px;
    &:hover {
      .post-item-cover {
        opacity: 1;
        transform: scale(1);
        transition: visibility .7s, opacity .7s, transform .7s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: .3s;
      }
    }
    .post-item-content {
      display: block;
      padding: 18% 0;
      text-decoration: none;
      border: 1px solid $c-white;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        font-size: 50px;
        text-align: center;
        color: $c-white;
        font-weight: 300;
        transform: translateX(-50%) translateY(-50%) translateZ(30px);
      }
      time {
        position: absolute;
        z-index: $z-bottom;
        right: 30px;
        bottom: 12px;
        font-family: 'DJB Get Digital';
        font-size: 24px;
        color: $c-white;
      }
    }
    .post-item-tags {
      position: absolute;
      z-index: $z-bottom;
      left: 30px;
      bottom: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .post-item-cover {
      position: absolute;
      z-index: -1;
      top: 1px;
      right: 1px;
      left: 1px;
      bottom: 1px;
      background-size: cover;
      opacity: 0;
      transform: scale(1.08) translateZ(1px);
      transition: visibility .5s, opacity .5s, transform .5s cubic-bezier(0.55, 0.055, 0.675, 1);
      pointer-events: none;
      &::after {
        content: '';
        position: absolute;
        z-index: $z-bottom;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $c-basic-deep;
        opacity: .76;
      }
    }
  }
  @include responsive('normal') {
    .post-item {
      margin-bottom: 10px;
      .post-item-content {
        h3 {
          font-size: 44px;
        }
        time {
          right: 20px;
          bottom: 10px;
          font-size: 20px;
        }
      }
      .post-item-tags {
        left: 20px;
        bottom: 15px;
      }
    }
  }
  @include responsive('pad') {
    padding: 10px 10px 0;
    .post-item {
      margin-bottom: 10px;
      .post-item-content {
        h3 {
          font-size: 38px;
        }
        time {
          right: 20px;
          bottom: 5px;
          font-size: 18px;
        }
      }
      .post-item-tags {
        left: 20px;
        bottom: 10px;
      }
    }
  }
  @include responsive('phone') {
    padding-top: 0;
    .post-item {
      margin-bottom: 10px;
      .post-item-content {
        h3 {
          font-size: 18px;
        }
        time {
          right: 10px;
          bottom: 0;
          font-size: 14px;
        }
      }
      .post-item-tags {
        right: 140px;
        left: 10px;
        bottom: 5px;
        font-size: 12px;
      }
    }
  }
}
