.pagination {
  text-align: center;
  color: $c-white;
  overflow: hidden;
  &:empty {
    display: none;
  }
  a {
    position: relative;
    max-width: 40%;
    color: $c-white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
    }
  }
  span {
    margin: 0 100px;
    display: block;
  }
  .pagination-prev {
    float: left;
    padding-left: 20px;
    &::before {
      left: 0;
      content: '←';
    }
  }
  .pagination-next {
    float: right;
    padding-right: 20px;
    &::before {
      right: 0;
      content: '→';
    }
  }
  @include responsive('phone') {
    margin: 0 10px;
    font-size: 14px;
  }
}
