.post-detail-wrapper {
  position: relative;
  z-index: $z-little;
  $gap: 50px;
  .post-header {
    position: relative;
    padding: 0 160px 15px 2px;
    h1 {
      font-size: 40px;
      color: $c-white;
    }
    .post-detail-time {
      position: absolute;
      right: 0;
      bottom: 16px;
      font-size: 20px;
      line-height: normal;
      font-family: 'DJB Get Digital';
      color: $c-white;
      opacity: .7;
    }
  }
  .post-content {
    padding: $gap $gap 10px;
    color: #363c42;
    background-color: #f5f6f8;
    img {
      margin: 2em auto;
      display: block;
    }
    code {
      padding: 0 4px;
    }
    a {
      margin: 0 4px;
    }
  }
  .post-footer {
    padding: 10px $gap $gap;
    background-color: #f5f6f8;
    .post-detail-tags {
      margin: 15px 0;
      a {
        color: lighten(desaturate($c-basic, 50%), 10%);
      }
    }
    .post-copyright {
      display: inline-block;
      max-width: 60%;
      padding: 10px 15px;
      font-size: 14px;
      background-color: lighten(desaturate($c-basic, 50%), 50%);
      border: 1px solid lighten(desaturate($c-basic, 50%), 40%);
    }
    .post-share {
      float: right;
      text-align: right;
      h4 {
        margin-bottom: 3px;
        font-weight: bold;
        color: lighten(desaturate($c-basic, 50%), 40%);
      }
      p {
        line-height: 1;
      }
      a {
        $size: 24px;
        margin-left: 5px;
        display: inline-block;
        width: $size;
        height: $size;
        font-size: $size * .9;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        color: lighten(desaturate($c-basic, 50%), 20%);
        .icon-douban:hover {
          color: #279738;
        }
        .icon-weibo:hover {
          color: #EE1224;
        }
        .icon-renren:hover {
          color: #187BC9;
        }
        .icon-qzone:hover {
          color: #FFC100;
        }
        .icon-google-plus:hover {
          color: #DD4330;
        }
        .icon-facebook:hover {
          color: #4760A5;
        }
        .icon-twitter:hover {
          color: #50ABF1;
        }
        .icon-qrcode:hover {
          color: lighten(desaturate($c-basic, 50%), 10%);
        }
      }
    }
  }
  .post-pagination {
    padding: 10px 0;
  }
  @include responsive('pad') {
    $gap: 25px;
    .post-header {
      margin: 0 $gap;
      padding: 0 150px 5px 0;
      h1 {
        font-size: 34px;
      }
      .post-detail-time {
        bottom: 8px;
        font-size: 16px;
      }
    }
    .post-content {
      padding: $gap $gap 10px;
    }
    .post-footer {
      padding: 10px $gap $gap;
    }
  }
  @include responsive('phone') {
    $gap: 15px;
    .post-header {
      margin: 0 $gap;
      padding: 0 0 5px;
      h1 {
        font-size: 20px;
        font-weight: 200;
      }
      .post-detail-time {
        position: static;
        font-size: 16px;
      }
    }
    .post-content {
      padding: $gap $gap 10px;
      line-height: 1.4;
      img {
        margin: 1em auto;
      }
    }
    .post-footer {
      padding: 10px $gap $gap;
      .post-copyright {
        max-width: 100%;
      }
      .post-share {
        margin: 10px 0;
        float: none;
        text-align: center;
      }
      .post-detail-tags {
        margin: 10px 0;
        font-size: 14px;
      }
    }
  }
}
