.post-cover {
  position: absolute;
  z-index: $z-bottom;
  top: 0;
  right: 0;
  left: 0;
  height: 390px;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, $c-basic-deep, rgba(3,2,27,.6));
  }
}
.post-detail-wrapper {
  $gap: 50px;
  .post-header {
    position: relative;
    padding: 15px 2px;
    h1 {
      font-size: 40px;
      color: $c-white;
    }
    .post-detail-time {
      position: absolute;
      right: 0;
      bottom: 20px;
      font-size: 20px;
      line-height: normal;
      font-family: 'DJB Get Digital';
      color: $c-white;
      opacity: .7;
    }
  }
  .post-content {
    padding: $gap $gap 10px;
    color: #363c42;
    background-color: #f5f6f8;
    img {
      margin: 2em auto;
      display: block;
    }
  }
  .post-footer {
    padding: 10px $gap $gap;
    background-color: #f5f6f8;
    .post-detail-tags {
      margin: 15px 0;
      a {
        color: lighten(desaturate($c-basic, 50%), 10%);
      }
    }
    .post-copyright {
      display: inline-block;
      max-width: 60%;
      padding: 10px 15px;
      font-size: 14px;
      background-color: lighten(desaturate($c-basic, 50%), 50%);
      border: 1px solid lighten(desaturate($c-basic, 50%), 40%);
    }
    .post-share {
      float: right;
      text-align: right;
      h4 {
        margin-bottom: 3px;
        font-weight: bold;
        color: lighten(desaturate($c-basic, 50%), 40%);
      }
      p {
        line-height: 1;
      }
      a {
        $size: 24px;
        margin-left: 5px;
        display: inline-block;
        width: $size;
        height: $size;
        font-size: $size * .9;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        color: lighten(desaturate($c-basic, 50%), 20%);
        &:hover {
          color: lighten(desaturate($c-basic, 50%), 10%);
        }
      }
    }
  }
  .post-pagination {
    padding: 10px 0;
  }
}
