@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/typo.css/typo.css';

html {
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

// override styles for typo.css
blockquote {
  border-left: 2px solid $c-basic;
}

pre {
  padding: 0;
  line-height: 1.4;
}

code {
  padding: 0 4px;
}

a {
  color: $c-basic;
}

.typo a {
  border-bottom: 1px solid $c-basic;
}
