{{!< layout}}
{{#post}}
<article class="post-detail-wrapper">
  <header class="post-header">
    <time class="post-detail-time">{{date format="YYYY-MM-DD HH:mm:ss"}}</time>
    <h1>{{title}}</h1>
  </header>
  <section class="post-content typo">
    {{content}}
  </section>
</article>
{{/post}}
